<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DevOps Exam</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <div class="exam-card">

        <h1>DevOps Exam</h1>

        <p>
            Candidate:
            <strong>{{ name }}</strong>
        </p>

        <p>
            Email:
            <strong>{{ email }}</strong>
        </p>

        <form action="/submit" method="POST">

            {% for q in questions %}

            <div class="question">

                <h3>
                    Q{{ loop.index }}. {{ q.question }}
                </h3>

                {% for option in q.options %}

                <label class="option">
                    <input
                        type="radio"
                        name="question_{{ loop.index0 }}"
                        value="{{ option }}"
                        required>

                    {{ option }}
                </label>

                {% endfor %}

            </div>

            {% endfor %}

            <button type="submit" class="btn">
                Submit Exam
            </button>

        </form>

    </div>

</div>

</body>
</html>
